.heading-admin-acc{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

.heading-admin-music{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

.heading-admin-permiss{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.search-bar-admin{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    background-color: #f3f3f3;
    width: fit-content;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px #303841 solid;
}

.input-search-admin{
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #f3f3f3;
    height: 30px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
}

.search-button-admin{
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f3f3f3;
    width: 50px;
    outline: none;
}

table {
    border-collapse: collapse;
    margin: 25px auto;
    width: 90%; 
    border: 2px solid #cdd4db; 
    border-radius: 8px; 
    overflow: hidden; 
}

th {
    background-color: #202122; 
    color: #f3f3f3;
    font-size: 16px; 
    padding: 12px; 
    text-align: center; 
    border-bottom: 3px solid #cdd4db; 
}

td {
    background-color: #dedede; 
    color: #303841; 
    font-size: 14px; 
    text-align: center; 
    padding: 12px; 
    border-bottom: 2px solid #303841; 
    transition: background-color 0.3s ease; 
}

td:nth-child(1), td:nth-child(2) {
    text-align: center; 
}

tr:hover {
    background-color: #dfe6e9; /
}

td:nth-child(5) i {
    font-size: 30px; 
    color: #303841; 
}

.action-button{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.delete-icon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px #303841 solid;
    border-radius: 10px;
}

.edit-icon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px #303841 solid;
    border-radius: 10px;
}

.edit-icon i, .delete-icon i{
    font-size: 30px;
    color: #303841;
}

.edit-icon:hover, .delete-icon:hover, .delete-icon:hover i, .edit-icon:hover i{
    color: #f3f3f3;
    background-color: #303841;
}

/* Thumbnail Styles */
.thumbnail-user {
    width: 100%; /* Make the thumbnail take the full width of the cell */
    height: auto; /* Maintain aspect ratio */
    max-width: 100px; /* Set a maximum width */
    max-height: 80px; /* Set a maximum height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.confirm-container{
    background-color: #3038415c;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-container.open{
    opacity: 1;
    z-index: 999;
}

.confirm-inner{
    background-color: #303841;
    border-radius: 10px;
    box-shadow: 0 1px 4px #303841;
    padding: 15px 25px;
    text-align: center;
    border: 3px #2185D5 solid;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

.confirm-inner h2{
    margin: 0;
}

.confirm-inner p{
    line-height: 24px;
    margin: 10px 0;
}

.upper{
    margin: 10px;
}

.upper h2{
    text-align: center;
    color: #f3f3f3;
}


.close-confirm{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    padding: 5px;
    color: #f3f3f3;
    right: 480px;
    top: 180px;
}

.close-confirm:hover{
    background-color: #303841;
    color: #f3f3f3;
}

.lines{
    width: 100%;
    height: 5px;
    background-color: #2185D5;
}

.permission-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.acc-btn{
    background-color: #f3f3f3;
    width: 140px;
    height: 28px;
    font-size: 16px;
    border: 2px #2185D5 solid;
    border-radius: 8px;
    cursor: pointer;
    color: #303841;
}


.rjc-btn{
    background-color: #303841;
    width: 140px;
    height: 28px;
    font-size: 16px;
    border: 2px #2185D5 solid;
    border-radius: 8px;
    cursor: pointer;
    color: #f3f3f3;
}

.audio-container{
    margin-top: 20px;
}

.lower h2{
    margin-top: 10px;
    font-size: 22px;
    color: #f3f3f3;
}