.heading-admin-acc{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

.heading-admin-music{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

.heading-admin-permiss{
    font-size: 30;
    font-family: Helvetica;
    color: #303841;
    border: 3px #303841 solid;
    border-radius: 13px;
    padding: 8px !important;
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.search-bar-admin{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    background-color: #f3f3f3;
    width: fit-content;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px #303841 solid;
}

.input-search-admin{
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #f3f3f3;
    height: 30px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
}

.search-button-admin{
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f3f3f3;
    width: 50px;
    outline: none;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin: 25px auto;
    border: 2px #303841 solid;
}

th{
    background-color: #2185D5;
    color: #f3f3f3;
    font-size: 16px;
    padding: 10px;
    border: 2px #303841 solid;
    white-space: nowrap;
}

td:nth-child(1), td:nth-child(2){
    text-align: center;
}

td{
    background-color: #f3f3f3;
    color: #303841;
    font-size: 14px;
    padding: 10px;
    border: 2px #303841 solid;
    white-space: nowrap;
}

td:nth-child(5) i{
    font-size: 30px;
    color: #303841;
}

.action-button{
    display: flex;
    gap: 10px;
}

.delete-icon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px #303841 solid;
    border-radius: 10px;
}

.edit-icon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px #303841 solid;
    border-radius: 10px;
}

.edit-icon:hover, .delete-icon:hover, .delete-icon:hover i, .edit-icon:hover i{
    color: #f3f3f3;
    background-color: #303841;
}

