body {
    margin: 0;
    font-family: 'Sofadi One', sans-serif;
    background-color: lavender;
}

.button-container{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.button-history-left{
    width: 280px;
    height: 40px;
    margin: 0;
    border-right: none;
    border-top: 2px lavender solid;
    border-left: 2px lavender solid;
    border-bottom: 2px lavender solid;
    background-color: rgba(230, 230, 250, 0.435);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
    font-family: 'Sofadi One', sans-serif;
    font-weight: 600;
}

.button-history-right{
    width: 280px;
    height: 40px;
    margin: 0;
    border-left: none;
    border-top: 2px lavender solid;
    border-right: 2px lavender solid;
    border-bottom: 2px lavender solid;
    background-color: rgba(230, 230, 250, 0.435);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
    font-family: 'Sofadi One', sans-serif;
    font-weight: 600;
}

.button-history-mid{
    width: 280px;
    height: 40px;
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: 2px lavender solid;
    border-bottom: 2px lavender solid;
    background-color: rgba(230, 230, 250, 0.435);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
    font-family: 'Sofadi One', sans-serif;
    font-weight: 600;
}

.active {
    background-color: rgba(109, 199, 255, 0.700);
}

.account-container{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    margin-left: 82px;
    margin-right: 82px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgba(140, 208, 251, 0.406);
    border-radius: 30px;
    border: 2px lavender solid;
    display: none;
    margin-top: 50px;
}

.payment-container{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgba(140, 208, 251, 0.406);
    border-radius: 30px;
    border: 2px lavender solid;
    display: none;
}

.sale-container{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgba(140, 208, 251, 0.406);
    border-radius: 30px;
    border: 2px lavender solid;
    display: none;
    margin-top: 50px;
}

.table-account{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    border-collapse: collapse;
    border: 2px black solid;
    font-size: 18px;
    background-color: lavender;
    color: black;
}

.table-purchase{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    border-collapse: collapse;
    border: 2px black solid;
    font-size: 15px;
    background-color: lavender;
    color: black;
}

.table-selling{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px black solid;
    font-size: 15px;
    background-color: lavender;
    color: black;
}

.header-table{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
}

.data-table{
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

.action-table{
    display: flex;
    justify-content: space-around;
}

.update-data{
    border: 2px;
    width: 35px;
    height: 35px;
    background-color: #ffdd00;
    cursor: pointer;
}

.delete-data{
    border: 2px;
    width: 35px;
    height: 35px;
    background-color: #ff0000;
    cursor: pointer;
}

.update-data i,
.delete-data i{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: lavender;
}

.empty{
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgba(140, 208, 251, 0.406);
    border: 2px lavender solid;
    border-radius: 30px;
    text-align: center;
    margin-left: 520px;
    margin-right: 520px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.title-empty{
    align-items: center;
    text-align: center;
    margin: 20px;
}

.search-bar{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border: 2px solid #15292B;
    width: fit-content;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.input-search{
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: lavender;
    height: 30px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    outline: none;
}

.search-button{
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: lavender;
    width: 50px;
    outline: none;
}

.data-picture{
    text-align: center;
    padding: 8px;
    border: 2px#15292B solid;
}

.upload-container{
    display: inline-block;
    font-size: 20px;
}

input[type="file"]{
    opacity: 0;
    position: absolute;
    z-index: 1;
}

.input-picture{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: lavender;
    border: 2px #15292B solid;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #15292B;
}

.picture-preview{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.title-pict{
    margin-top: 75px;
}

@media (max-width: 700px){
    .button-container{
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 18px;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    }

    .button-history-left{
        width: 280px;
        height: 40px;
        margin: 0;
        border-right: none;
        border-top: 2px lavender solid;
        border-left: 2px lavender solid;
        border-bottom: 2px lavender solid;
        background-color: rgba(230, 230, 250, 0.435);
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.5s, transform 0.5s;
        font-family: 'Sofadi One', sans-serif;
        font-weight: 600;
    }
    
    .button-history-right{
        width: 280px;
        height: 40px;
        margin: 0;
        border-left: none;
        border-top: 2px lavender solid;
        border-right: 2px lavender solid;
        border-bottom: 2px lavender solid;
        background-color: rgba(230, 230, 250, 0.435);
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.5s, transform 0.5s;
        font-family: 'Sofadi One', sans-serif;
        font-weight: 600;
    }

    .active {
        background-color: rgba(109, 199, 255, 0.700);
    }

    .account-container{
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 60px;
        background-color: rgba(140, 208, 251, 0.406);
        border-radius: 10px;
        border: 2px lavender solid;
        display: none;
        overflow-x: scroll;
    }

    .payment-container{
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 60px;
        background-color: rgba(140, 208, 251, 0.406);
        border-radius: 10px;
        border: 2px lavender solid;
        display: none;
        overflow-x: scroll;
    }

    .sale-container{
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: auto;
        padding-right: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 60px;
        background-color: rgba(140, 208, 251, 0.406);
        border-radius: 10px;
        border: 2px lavender solid;
        display: none;
        margin-top: 50px;
        overflow-x: scroll;
    }
    
    .table-account{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
        border-collapse: collapse;
        border: 2px black solid;
        font-size: 15px;
        background-color: lavender;
        color: black;
        width: 900px;
    }
    
    .table-purchase{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
        border-collapse: collapse;
        border: 2px black solid;
        font-size: 15px;
        background-color: lavender;
        color: black;
        width: 1390px;
    }

    .empty{
        align-items: center;
        width: 300px;
        height: 300px;
        background-color: rgba(140, 208, 251, 0.406);
        border: 2px lavender solid;
        border-radius: 30px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .search-bar{
        margin-right: 40px;
        margin-left: 40px;
        border: 2px solid #15292B;
        width: fit-content;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .input-search{
        border: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: lavender;
        height: 30px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        outline: none;
    }
    
    .search-button{
        border: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lavender;
        width: 50px;
        outline: none;
    }

    .update-data{
        border: 2px;
        width: 40px;
        height: 40px;
        background-color: #ffdd00;
        cursor: pointer;
    }
    
    .delete-data{
        border: 2px;
        width: 40px;
        height: 40px;
        background-color: #ff0000;
        cursor: pointer;
    }

    .update-data i,
    .delete-data i{
        justify-content: center;
        font-size: 25px;
    }

}
    
