.logo {
    width: 200px;                 
    height: 200px;                
    margin-right: 100px;       
    margin-left: 70px;       
}

h1 {
    margin: 0;
}
h1 {
    font-size: 24px;
}

.login-line {
    width: 2px; 
    height: 20em; 
    background-color: #000000; 
    margin-right: 50px;
}

.signup-line {
    width: 2px; 
    height: 27em; 
    background-color: #000000; 
    margin-right: 50px;
}

.login-page{
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    width: 100%; /* Responsif, mengambil 90% lebar layar */
    max-width: 750px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: auto; /* Otomatis menyesuaikan kiri */
    margin-right: auto; /* Otomatis menyesuaikan kanan */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-container{
    width: 100%;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-login{
    background-color: #fafafa;
    font-size: 20px;
    width: auto;
    border-radius: 7px;
    border: 1px black solid;
    padding: 8px;
    font-size: 14px;
    font-family: Helvetica;
    margin: 5px 0 0 0;
}

.submit-button-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.submit-button-login{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #333943;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit-button-login:hover, button:hover {
    background-color: #20242b;
}

.submit-button-signup{
    background: none;
    background-color: #303841;
    border-radius: 10px;
    padding: 5px 100px;
    cursor: pointer;
    color:white;
}

/* .submit-button-login:hover, .button:hover, .submit-button-signup:hover{
    background-color: black;
    color: white;
} */

.button{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #333943;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.signup-page{
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    width: 100%; /* Responsif, mengambil 90% lebar layar */
    max-width: 750px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: auto; /* Otomatis menyesuaikan kiri */
    margin-right: auto; /* Otomatis menyesuaikan kanan */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-container{
    width: 100%;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
