body {
    margin: 0;
    background-color: grey;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    background-color: rgb(50, 50, 50);
    height: 60px;
    color: white;
    align-items: center;
}

.main-container{
    text-align: center;
    font-size: 18px;
}

.list-music-container{
    margin-top: 20px;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label .list-music{
    background-color: rgb(50, 177, 255); 
}

.list-music{
    width: 1000px;
    height: 50px;
    background-color: aliceblue;
    border: 2px black solid;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    
}

footer{
    margin: 0;
    font-size: 20px;
    background-color: rgb(50, 50, 50);
    height: 60px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

