body {
    margin: 0;
    background-color: grey;
}

nav{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    background-color: rgb(50, 50, 50);
    height: 60px;
    color: white;
    align-items: center;
}

.sidebar-menu{
    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
}

.sidebar-menu span{
    background-color: aqua;
    height: 5px;
    width: 100%;
    border: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.sidebar-menu span:nth-child(1){
    top: 25%;
}

.sidebar-menu span:nth-child(3){
    top: 75%;
}

.sidebar-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.sidebar-menu.active span:nth-child(2){
    opacity: 0;
}

.sidebar-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

.off-screen-menu{
    background-color: rgb(21, 21, 21);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    transition: .3s ease;
    color: white;
}

.off-screen-menu.active{
    left: 0;
}

.main-container{
    text-align: center;
    font-size: 18px;
}

.list-music-container{
    margin-top: 20px;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label .list-music{
    background-color: rgb(50, 177, 255); 
}

.list-music{
    width: 1000px;
    height: 50px;
    background-color: aliceblue;
    border: 2px black solid;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    
}

footer{
    margin: 0;
    font-size: 20px;
    background-color: rgb(50, 50, 50);
    height: 60px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

