/* about us */
@media (max-width: 768px) {
    .about-us h1 {
        font-size: 2.5rem;
    }

    .description p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .team-member {
        flex: 1 1 calc(50% - 20px);
    }
}

/* admin */
@media (max-width: 768px) {
    .heading-admin-acc,
    .heading-admin-music,
    .heading-admin-permiss {
        width: 100%;
        font-size: 1.5em;
    }

    .input-search-admin {
        width: 80%;
    }

    .search-button-admin {
        width: 100%;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .heading-admin-acc,
    .heading-admin-music,
    .heading-admin-permiss {
        font-size: 1.2em;
    }

    .input-search-admin {
        width: 100%;
    }

    .action-button {
        flex-direction: column;
    }
}

/* chat */
/* Contoh media query untuk layar kecil */
@media (max-width: 768px) {
    .chat-input-search {
        width: 90%; 
        height: 40px;
        font-size: 14px;
    }

    .chat-item {
        width: 90%;
        margin: 10px auto;
    }

    .chat-item-name {
        font-size: 18px;
    }

    .chat-item-message {
        font-size: 14px;
    }

    .message-bubble {
        width: 80%;
    }

    .send-chat textarea {
        height: 40px;
    }

    .profile-info {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .chat-input-search {
        width: 100%; 
        height: 35px; 
        font-size: 12px; 
    }

    .chat-item {
        width: 100%; 
    }

    .chat-item-name {
        font-size: 16px; 
    }

    .chat-item-message {
        font-size: 12px; 
    }

    .message-bubble {
        width: 90%;
    }

    .send-chat textarea {
        height: 30px; 
    }

    .send-chat i {
        font-size: 25px;
    }
}

/* edit */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        width: 90%;
        max-width: 100%;
    }

    .edit-user-container {
        max-width: 90%;
    }

    .form-pw, .form-edi {
        width: 100%;
    }

    .submit-button {
        width: 100%;
    }

    .music-list {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .music-card {
        width: 90%;
    }

    .input-search-user {
        width: 80%;
    }

    .music-uploaded-title {
        margin-left: 0;
        text-align: center;
    }

    .profile-pic-container {
        width: 100%;
    }

    .profile-pic-label {
        width: 100%;
        height: auto;
    }

    .music-info {
        margin-left: 8px;
    }

    .action-buttons {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px;
    }

    .form-container label,
    .form-container textarea,
    .form-pw,
    .form-edi {
        font-size: 14px;
        width: 290px;
    }

    .submit-button {
        padding: 10px;
        font-size: 14px;
    }

    .music-title {
        font-size: 16px;
    }

    .music-description {
        font-size: 12px;
    }

    .edit-button, .delete-button {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }
}

/* login_signup */
@media (max-width: 768px) {
    .logo {
        width: 150px; 
        height: 150px;
    }

    h1 {
        font-size: 20px; 
    }

    .login-page, .signup-page {
        width: 90%; 
        margin-top: calc(50vh - 200px); 
    }

    .form-login {
        font-size: 12px;
    }

    .submit-button-login, .submit-button-signup {
        padding: 8px; 
        font-size: 12px; 
    }

    .login-line, .signup-line {
        display: none; 
    }
}

@media (max-width: 480px) {
    .login-line, .signup-line {
        display: none; 
    }


    .login-page, .signup-page {
        flex-direction: column; 
        align-items: center; 
    }

    .login-container, .signup-container {
        width: 100%;
    }

    .submit-button-signup {
        padding: 5px 50px;
    }
}

/* navfooter */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        height: auto;
        padding: 10px;
    }

    .nav-left {
        flex-direction: row;
        gap: 5px;
    }

    .nav-input-search {
        width: 100%;
        margin-bottom: 5px;
    }

    .nav-search-button {
        width: 40px;
        margin-left: -5px;
    }

    .login-button {
        width: auto;
    }

    .search-result {
        width: auto;
    }

    .notification-container {
        width: 90%;
    }

    .div {
        display: none;
    }
}



@media (max-width: 480px) {
    .nav-input-search {
        width: 100%; 
        font-size: 14px;
    }

    .nav-search-button {
        padding: 5px; 
    }

    .login-button {
        padding: 0.5em; 
        font-size: 14px; 
    }
}

/* profile */
@media (max-width: 768px) {
    .biography-upper {
        flex-direction: column;
        margin: 20px 20px;
    }

    .profile-picture {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    h2 {
        font-size: 22px;
    }

    h2:nth-child(2) {
        font-size: 16px;
    }

    .button-follow {
        width: 100%;
    }

    .total-likes, .total-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .total-likes i, .total-content i {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .biography-upper {
        margin: 10px 10px;
    }

    h2 {
        font-size: 20px;
    }

    h2:nth-child(2) {
        font-size: 14px;
    }

    .button-follow {
        width: 100%;
        font-size: 14px;
    }

    .total-likes, .total-content {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
        padding: 0;
    }

    .total-likes i, .total-content i {
        margin-left: 0;
        margin-top: 5px;
    }

    .picture {
        width: 100px;
        height: 100px;
    }

    .action-follow-btn {
        font-size: 16px;
    }
}

/* sidebar */
@media (max-width: 768px) {
    .sidebar-menu {
        height: 50px;
        width: 50px; 
    }

    .off-screen-menu {
        max-width: 200px; 
    }

    .list-sidebar {
        font-size: 14px; 
    }

    .logo-sidebar {
        width: 80px; 
        height: 80px; 
    }

    .upload-button {
        width: 80px; 
        height: 80px; 
        font-size: 70px; 
    }
}

@media (max-width: 480px) {
    .sidebar-menu {
        height: 40px; 
        width: 40px; 
    }

    .off-screen-menu {
        max-width: 150px; 
    }

    .list-sidebar {
        font-size: 12px; 
    }

    .logo-sidebar {
        width: 60px; 
        height: 60px; 
    }

    .upload-button {
        width: 60px; 
        height: 60px; 
        font-size: 50px;
    }
}

/* main */
@media (max-width: 768px) {
    .content-container {
        width: 90%; 
        flex-direction: column; 
    }

    .button-banner {
        padding: 10px 20px; 
        font-size: 14px; 
    }

    .search-container {
        flex-direction: column; 
    }

    .account-container {
        width: 100%; 
        height: auto; 
    }

    .bar input[type="range"]{
        width: auto;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }

    .button-banner {
        padding: 8px 16px; 
        font-size: 12px; 
    }

    .list-content-container {
        flex-direction: column; 
        gap: 10px; 
    }

    .send-comment textarea {
        height: 40px;
    }
}