body {
    font-family: 'Sofadi One', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

.top-up-container{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-description{
    padding: 80px 40px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
}

.pay-radio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pay-category{
    display: inline-block;
    padding: 20px;
    background: linear-gradient(-45deg, rgb(109, 199, 255, 0.406), lavender);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.2s;
    margin-bottom: 30px;
    cursor: pointer;
    color: #15292B;
    font-weight: 500;
}

input[type="radio"]:checked + label .pay-category{
    background-color: rgb(50, 177, 255); 
}

.menu-payment{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
    display: none;
}

.right-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    color: #15292B;
}

.developer{
    display: flex;
    font-size: 12px;
    background: rgb(140, 208, 251);
    padding: 4px 10px;
    margin-left: 12px;
    margin-right: 218px;
    border: lavender;
    border-radius: 10px;
    color: #15292B;
}

.input-box{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    gap: 10px;
}

.input-content{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
}

.input-form{
    text-align: center;
    border: 1px #15292B solid;
    border-radius: 5px;
}

.category-content{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
}

input[type= "radio"]{
    display: none;
}

.radio-category{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
}

.category-specify{
    display: inline-block;
    padding: 20px;
    background: linear-gradient(45deg, rgb(109, 199, 255, 0.406), lavender);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.2s;
    margin: 10px;
    cursor: pointer;
}

.Twilight{
    border: 2px lavender solid;
    border-radius: 10px;
}

label {
    cursor: pointer;
    margin-left: 10px;
}

input[type="radio"]:checked + label .category-specify{
    background-color: rgb(50, 177, 255); 
}

.radio-top-up{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-diamond-mlbb{
    display: none;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
}

.top-up-category{
    display: inline-block;
    padding: 20px;
    background: linear-gradient(45deg, rgb(109, 199, 255, 0.406), lavender);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 1s;
    margin: 10px;
    cursor: pointer;
    color: #15292B;
    font-weight: 500;
}

input[type="radio"]:checked + label .top-up-category{
    background-color: rgb(50, 177, 255); 
}

.wdp-category{
    display: inline-block;
    padding: 20px;
    background: linear-gradient(45deg, rgb(109, 199, 255, 0.406), lavender);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.2s;
    margin: 10px;
    cursor: pointer;
}

input[type="radio"]:checked + label .wdp-category{
    background-color: rgb(50, 177, 255); 
}

.twilight-category{
    display: inline-block;
    padding: 20px;
    background: linear-gradient(45deg, rgb(109, 199, 255, 0.406), lavender);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.2s;
    margin: 10px;
    cursor: pointer;
}

input[type="radio"]:checked + label .twilight-category{
    background-color: rgb(50, 177, 255); 
}

.input-box-ff{
    margin-left: 40px;
    margin-right: 40px;
    
}

.input-form-ff{
    text-align: center;
    border: 1px #15292B solid;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.radio-category-ff{
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
}

.menu-diamond-ff{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
    display: none;
}

.menu-uc-pubg{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
    display: none;
}

.input-form-pubg{
    text-align: center;
    border: 1px #15292B solid;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.radio-category-mla{
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
}

.input-form-mla{
    text-align: center;
    border: 1px #15292B solid;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-diamond-mla{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: rgba(140, 208, 251, 0.406);
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
    display: none;
}

.checkout-content{
    background-color: rgba(140, 208, 251, 0.406);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    position: relative;
    border-radius: 20px;
    border: 2px lavender solid;
    transition: 0.7s;
    display: none;
}

.reset-button{
    background-color: rgba(109, 199, 255, 0.435);
    border: none;
    border: 3px #15292B solid;
    padding: 10px 80px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Sofadi One', sans-serif;
}

.checkout-button{
    margin-top: 40px;
    background-color: rgba(109, 199, 255, 0.435);
    border: none;
    border: 3px #15292B solid;
    padding: 10px 80px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Sofadi One', sans-serif;
}

.input-box-payment{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.payment-form{
    text-align: center;
    background-color: lavender;
    border-radius: 5px;
    width: 180px;
    text-align: center;
}

@media (max-width: 700px){

    .input-form{
        text-align: center;
        border: 1px #15292B solid;
        border-radius: 5px;
        width: 120px;
    }

    .radio-category{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
    }

    .pay-radio{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .developer{
        display: flex;
        font-size: 12px;
        background: rgb(140, 208, 251);
        padding: 4px 10px;
        margin-left: 12px;
        margin-right: 89px;
        border: lavender;
        border-radius: 10px;
        color: #15292B;
    }

    .radio-top-up{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }

    .input-form-ff{
        text-align: center;
        border: 1px #15292B solid;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .input-form-mla{
        text-align: center;
        border: 1px #15292B solid;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100px;
    }

    .input-form-pubg{
        text-align: center;
        border: 1px #15292B solid;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .top-up-container{
        flex-direction: column;
        gap: 10px;
    }

    .input-box{
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
        gap: 10px;
        align-items: center;
    }
}
