body {
  animation: transitionIn 0.5s;
}

.loginpg{
  /* background-color: #f3f3f3; */
  background: linear-gradient(to bottom right, #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%);
  background-size: 200% 200%;
  animation: gradient 5s linear infinite alternate;
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 4;
}

.signuppg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 5;
}

.settingspg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 4;
}

.edit-userpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 6;
  overflow: scroll;
  scrollbar-width: none;
}

.manage-musicpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 5;
  overflow: scroll;
  scrollbar-width: none;
}

.edit-musicpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 6;
  overflow: scroll;
  scrollbar-width: none;
}

.followingpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 4;
  overflow: scroll;
  scrollbar-width: none;
}

.followerpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 4;
}

.history-chatpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 4;
  overflow: scroll;
  scrollbar-width: none;
}

.chatpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 5;
  overflow: scroll;
  scrollbar-width: none;
}

.uploadpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  overflow: scroll;
  scrollbar-width: none;
  z-index: 4;
}

.loginpg.slide, .signuppg.slide, 
.settingspg.slide, .edit-userpg.slide, .manage-musicpg.slide, .edit-musicpg.slide,
.followingpg.slide, .followerpg.slide, 
.history-chatpg.slide, .chatpg.slide, 
.uploadpg.slide{
  right: 0;
}


@keyframes transitionIn {
    from {
      opacity: 0;
  
    } to {
      opacity: 1;

    }
}

@keyframes gradient{
  from{
    background-position: 0 0;
  } to{
    background-position: 100% 100%;
  }
}