body {
    animation: transitionIn 0.5s;
}

.loginpg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 1;
}

.signuppg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 2;
}

.settingspg{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right:-100%;
  flex-direction: column;
  transition: 1s ease;
  z-index: 1;
}

.loginpg.slide, .signuppg.slide, .settingspg.slide{
  right: 0;
}


@keyframes transitionIn {
    from {
      opacity: 0;
  
    } to {
      opacity: 1;

    }
}